# Formateo de cadenas de texto f-string

In [1]:
nombre = "Pepe"
edad = 28
frase = f"Mi nombre es {nombre} y tengo {edad} años de edad."
print(frase)

Mi nombre es Pepe y tengo 28 años de edad.

In [3]:
num = 15
print(f"El doble de {num} es {num*2}.")

El doble de 15 es 30.

In [8]:
import math
print(f"El valor de pi con 3 decimales es {math.pi:.3f}")

El valor de pi con 3 decimales es 3.142

En bucles para hallar el cuadrado y el cubo 
de cada numero entre el 1 y el 10

In [14]:
for x in range(1,11):
    print(f"{x:2d} {x*x:3d} {x*x*x:4d}")

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

f-string lo podemos usar en diccionarios

In [15]:
claves = {'Juan': 1234, 'Pepe': 5678, 'Maria': 2468}
for nombre, clave in claves.items():
    print(f"{nombre:10} ==> {clave:10d}")

Juan       ==>       1234
Pepe       ==>       5678
Maria      ==>       2468

In [44]:
claves = {'Juan': 1234, 'Pepe': 5678, 'Maria': 2468}
for nombre, clave in claves.items():
    print(f"{nombre:10} ==> {clave:10d}")

Juan       ==>       1234
Pepe       ==>       5678
Maria      ==>       2468

Para numeros de punto flotante (decimales) si queremos 
dos decimales usamos .2f

In [18]:
precio = 23.65
print(f"El precio del producto es ${precio:.2f}")

El precio del producto es $23.65

Si queremos el precio del producto con 3 decimales 
usamos .3f

In [19]:
precio = 23.65
print(f"El precio del producto es ${precio:.3f}")

El precio del producto es $23.650

En este caso, :10 se usa para especificar un campo de ancho de 10 caracteres 
para la variable producto, pero como producto en este caso "arroz" tiene 
menos de 10 caracteres, se agregan espacios en blanco para alcanzar esa longitud.

In [21]:
producto = "arroz"
precio = 15.58

print(f"El {producto:10} cuesta ${precio:.2f}")

El arroz      cuesta $15.58

In [41]:
lista_productos = ["aceite", "arroz", "fideos", "leche", "mantequilla"]
lista_precios = [12.34, 15.58, 3.45, 6.23, 2.39]

diccionario_final = dict(zip(lista_productos, lista_precios))
for producto, precio in diccionario_final.items():
    print(f"{producto:15} cuesta   ${precio:.2f}")

aceite          cuesta   $12.34
arroz           cuesta   $15.58
fideos          cuesta   $3.45
leche           cuesta   $6.23
mantequilla     cuesta   $2.39

Con el formato {producto:<15} conseguimos que cada producto en la lista se coloque 
a la izquierda de un campo de ancho 15 caracteres. Si la longitud del texto en 
producto es menor que 15 caracteres, se agregarán espacios en blanco a la derecha 
para alcanzar los 15 caracteres. 
Esto se hace para que el texto producto esté alineado a la izquierda y el texto 
de la variable precio comience en la misma posición desde la derecha, 
lo que proporciona un formato ordenado.

In [42]:
lista_productos = ["aceite", "arroz", "fideos", "leche", "mantequilla"]
lista_precios = [12.34, 15.58, 3.45, 6.23, 2.39]

diccionario_final = dict(zip(lista_productos, lista_precios))
for producto, precio in diccionario_final.items():
    print(f"{producto:<15} cuesta   ${precio:.2f}")

aceite          cuesta   $12.34
arroz           cuesta   $15.58
fideos          cuesta   $3.45
leche           cuesta   $6.23
mantequilla     cuesta   $2.39

In [23]:
lista = [1.2, 3.4, 5.0, 2.5]
resultado = [x*x for x in lista]
print(resultado)

[1.44, 11.559999999999999, 25.0, 6.25]

Puedes acotar el numero de decimales que desees

In [24]:
lista = [1.2, 3.4, 5.0, 2.5]
resultado = [x*x for x in lista]
for num in resultado:
    print(f"{num:.3f}")

1.440
11.560
25.000
6.250

f-string se puede usar tambien en condicionales

In [3]:
puntos = 13
resultado = "Aprobado" if puntos > 11 else "Desaprobado"
print(f"El resultado es {resultado}")

El resultado es Aprobado

Usando f-string dentro de una funcion para expresar porcentajes

In [1]:
def porcentajes(*args):
    for arg in args:
        print(f"{arg} representa el {(arg*100/sum(args)):.2f} %")
        
porcentajes(12,23,45,7)

12 representa el 13.79 %
23 representa el 26.44 %
45 representa el 51.72 %
7 representa el 8.05 %

La notacion :>x.y nos indica que el formato a imprimir sera de 'x' 
espacios de caracteres en total (incluido el punto decimal) contados
a partir del inicio de cada linea de renglon e 'y' cantidades 
de decimales

En el siguiente ejemplo numero1 = 253.8 contiene 3 enteros,
1 decimal mas el punto en total ocupa 5 espacios de caracteres;
por eso se ve que recien a la sexta fila (:>6.1f) se desplaza un
caracter, a la septima fila (:>7.1f) se desplaza dos caracteres
y asi suscesivamente.

In [7]:
numero1 = 253.8

print(f"{numero1:>1.1f}")
print(f"{numero1:>2.1f}")
print(f"{numero1:>3.1f}")
print(f"{numero1:>4.1f}")
print(f"{numero1:>5.1f}")
print(f"{numero1:>6.1f}")
print(f"{numero1:>7.1f}")
print(f"{numero1:>8.1f}")
print(f"{numero1:>9.1f}")
print(f"{numero1:>10.1f}")
print(f"{numero1:>11.1f}")
print(f"{numero1:>12.1f}")

253.8
253.8
253.8
253.8
253.8
 253.8
  253.8
   253.8
    253.8
     253.8
      253.8
       253.8

En el ejemplo siguiente vemos que num2 = 2.564 le pedimos
en cada formato de impresion (:>x.1f)
En el primer print vemos el formato (:>1.1f) que quiere decir 
1 espacio de caracter y un decimal.
En el segundo print vemos el formato (:>2.1f) que quiere decir 
2 espacios de caracteres y un decimal.
A partir del cuarto print vemos el formato (:>4.1f) que quiere
decir 4 espacios de caracteres y un decimal. Es por eso que el
numero (2.6) que tiene tres caracteres corre un lugar a la 
derecha; con el formato siguiente (:>5.1f) 5 espacios de 
caracteres y un decimal correra dos espacios a la derecha y 
asi suscesivamente.

In [8]:
num2 = 2.564



print(f"{num2:>1.1f}")
print(f"{num2:>2.1f}")
print(f"{num2:>3.1f}")
print(f"{num2:>4.1f}")
print(f"{num2:>5.1f}")
print(f"{num2:>6.1f}")
print(f"{num2:>7.1f}")
print(f"{num2:>8.1f}")
print(f"{num2:>9.1f}")
print(f"{num2:>10.1f}")
print(f"{num2:>11.1f}")
print(f"{num2:>12.1f}")

2.6
2.6
2.6
 2.6
  2.6
   2.6
    2.6
     2.6
      2.6
       2.6
        2.6
         2.6

Expresando territorio en km2

In [17]:
territorio = {'Usa': 9833517, 'Mexico': 1964375, 'Japon': 377975, 'Italia': 301340 }

for key, value in territorio.items():
    print(f"{key}  -->  {value:,}")

Usa  -->  9,833,517
Mexico  -->  1,964,375
Japon  -->  377,975
Italia  -->  301,340