# FUNCIONES

In [1]:
def suma(a,b):
    return a+b

m = suma(4,3)
print(m)

7

In [8]:
def fahrenheit_a_celsius():
    f = int(input("Ingrese temperatura en fahrenheit: "))
    c = (f - 32) * 5/9
    print(f"La temperatura {f}f en celsius es {c:.2f}c")

Al llamar a la funcion fahrenheit_a_celsius() nos sale el 
mensaje: "Ingrese temperatura en fahrenheit: " y escribimos 63

In [9]:
fahrenheit_a_celsius()

La temperatura 63f en celsius es 17.22c

In [2]:
def tabla_c_a_f():
    for celsius in range (-10, 45):
        fahrenheit = (9 * celsius /5) + 32 
        print(f"la temperatura de {celsius} c es {fahrenheit} f")
        
tabla_c_a_f()

la temperatura de -10 c es 14.0 f
la temperatura de -9 c es 15.8 f
la temperatura de -8 c es 17.6 f
la temperatura de -7 c es 19.4 f
la temperatura de -6 c es 21.2 f
la temperatura de -5 c es 23.0 f
la temperatura de -4 c es 24.8 f
la temperatura de -3 c es 26.6 f
la temperatura de -2 c es 28.4 f
la temperatura de -1 c es 30.2 f
la temperatura de 0 c es 32.0 f
la temperatura de 1 c es 33.8 f
la temperatura de 2 c es 35.6 f
la temperatura de 3 c es 37.4 f
la temperatura de 4 c es 39.2 f
la temperatura de 5 c es 41.0 f
la temperatura de 6 c es 42.8 f
la temperatura de 7 c es 44.6 f
la temperatura de 8 c es 46.4 f
la temperatura de 9 c es 48.2 f
la temperatura de 10 c es 50.0 f
la temperatura de 11 c es 51.8 f
la temperatura de 12 c es 53.6 f
la temperatura de 13 c es 55.4 f
la temperatura de 14 c es 57.2 f
la temperatura de 15 c es 59.0 f
la temperatura de 16 c es 60.8 f
la temperatura de 17 c es 62.6 f
la temperatura de 18 c es 64.4 f
la temperatura de 19 c es 66.2 f
la temperatura de 20 c es 68.0 f
la temperatura de 21 c es 69.8 f
la temperatura de 22 c es 71.6 f
la temperatura de 23 c es 73.4 f
la temperatura de 24 c es 75.2 f
la temperatura de 25 c es 77.0 f
la temperatura de 26 c es 78.8 f
la temperatura de 27 c es 80.6 f
la temperatura de 28 c es 82.4 f
la temperatura de 29 c es 84.2 f
la temperatura de 30 c es 86.0 f
la temperatura de 31 c es 87.8 f
la temperatura de 32 c es 89.6 f
la temperatura de 33 c es 91.4 f
la temperatura de 34 c es 93.2 f
la temperatura de 35 c es 95.0 f
la temperatura de 36 c es 96.8 f
la temperatura de 37 c es 98.6 f
la temperatura de 38 c es 100.4 f
la temperatura de 39 c es 102.2 f
la temperatura de 40 c es 104.0 f
la temperatura de 41 c es 105.8 f
la temperatura de 42 c es 107.6 f
la temperatura de 43 c es 109.4 f
la temperatura de 44 c es 111.2 f

In [2]:
def incrementa(n):
    return lambda x: x+n

g = incrementa(5)
print(f"la función incrementa(n=5) evaluada en x=7 es g(7)={g(7)}")

h = incrementa(10)
print(f"la función incrementa(n=10) evaluada en x=15 es h(15)={h(15)}")

la función incrementa(n=5) evaluada en x=7 es g(7)=12
la función incrementa(n=10) evaluada en x=15 es h(15)=25

Función que halla el mcd de dos números basado en el algoritmo de Euclides mediante el operador divmod

In [1]:
def mcd(a,b):
    if a > b:
        q , r = divmod(a, b)
        if r == 0:
            return b
        else: 
            return mcd(b, r)
        
    else:
        return mcd(b, a)

In [2]:
mcd(60, 24)

12

In [3]:
mcd(144, 480)

48

Otra manera de escribir la función seria...

In [4]:
def mcd1(a, b):
    if a > b:
        q, r = divmod(a, b)
        return b if r == 0 else mcd1(b, r)
    return mcd1(b, a)

In [5]:
mcd1(18, 12)

6

In [6]:
mcd1(36, 240)

12

Para evitar la recursión infinita si b == 0 y asi mejoramos la eficiencia

In [12]:
def mcd2(a, b):
    if b == 0:
        return a  # Si 'b' es 0, el MCD es 'a'
    return mcd2(b, a % b)

In [14]:
mcd2(18, 12)

6

Simplificando la funcion mcd2 aun mas obetemos mcd3

In [15]:
def mcd3(a, b):
    return a if b == 0 else mcd3(b, a % b)

In [16]:
mcd3(480, 600)

120

In [17]:
mcd3(180, 72)

36

Los parámetros antes de '/' son solo posicionales, osea deben pasarse sin usar nombres al llamar a la función.

In [19]:
def operar(a,b, /, c):
    return a+b-c

In [21]:
operar(3, 4, c = 5)

2

In [22]:
operar(2, 9, 4)

7

El siguiente código daría error, ya que los parámetros a y b sólo deben ser pasados por posición

In [23]:
operar(a=2, b=5, c=4)

TypeError: operar() got some positional-only arguments passed as keyword arguments: 'a, b'

Aqui otro caso, los parámetros antes de '/' (name, age) son solo posicionales.
Es decir, deben pasarse sin usar nombres al llamar a la función.

In [24]:
def imprimir(name, age, /, etc):
    print(f"mi nombre es {name}, mi edad es {age} y soy {etc}")

In [25]:
imprimir("Juan", 35, "cocinero" )

mi nombre es Juan, mi edad es 35 y soy cocinero

In [26]:
imprimir("Jose", 23, etc="pintor")

mi nombre es Jose, mi edad es 23 y soy pintor

Cuando * aparece solo en los parámetros sin un nombre específico (* a secas), significa que todos los parámetros que vienen después deben pasarse por nombre (keyword-only).

In [27]:
def operaciones(a, b, c, /, *, d = 5, e = 10):
    return (a + b - c * d * e)

In [28]:
operaciones(3, 7, 4)

-190

In [29]:
operaciones(2, 12, 32, d=15, e=4)

-1906

Los parámetros antes del símbolo '/' se pasan sólo por posición, los parámetros después del símbolo '/' se pueden pasar<br> tanto por posición, como por nombre
y los parámetros después del símbolo '*' sólo pueden pasarse por nombre.

In [34]:
def imprime(nombre, /, ciudad, *, pasatiempo='correr'):
    print(f"Mi nombre es {nombre} vivo en {ciudad} y me gusta {pasatiempo}.")
    
imprime("Juan", "Rio", pasatiempo='leer')

Mi nombre es Juan vivo en Rio y me gusta leer.

In [35]:
imprime("Ana", ciudad="Lima")

Mi nombre es Ana vivo en Lima y me gusta correr.

cálculo de la velocidad final de un cuerpo que es lanzado hacia arriba

In [30]:
def vfinal(vinicio, tiempo, /, *, gravedad = 9.8):
    return(vinicio + gravedad * tiempo)

In [31]:
vfinal(10, 60)

598.0

ley de cosenos. dados dos lados de un triángulo y el ángulo que forman entre ellos en radianes, se pide calcular la medida del tercer lado.

In [32]:
import math

def leydecosenos(a, b, alpha):
    return math.sqrt(a**2 + b**2 - 2*a*b*math.cos(alpha)) 

leydecosenos(4, 6, (math.pi/3))

5.2915026221291805

In [33]:
# posición de un objeto lanzado con cierto ángulo alpha en movimiento parabólico
import math
import numpy as np

def movparab(vo, alpha, /, *, g=9.8):
    ttotal = 2*vo/g
    hmax = (vo**2)/(2*g)
    for t in np.arange(0, ttotal, ttotal/50): 
        x = vo*math.cos(alpha)*t
        if (t<=vo/g):
            y = vo*math.sin(alpha)*t-0.5*g*t**2
        else:
            y = hmax -0.5*g*(t - ttotal/2)**2
        print(f"x = {x:.3f}m  y = {y:.3f}m")
    print(f"la altura maxima es {hmax:.3f} m y el tiempo total es {ttotal:.3f} s")
            
movparab(30, math.pi/3)

x = 0.000m  y = 0.000m
x = 1.837m  y = 3.108m
x = 3.673m  y = 6.069m
x = 5.510m  y = 8.883m
x = 7.347m  y = 11.550m
x = 9.184m  y = 14.070m
x = 11.020m  y = 16.443m
x = 12.857m  y = 18.669m
x = 14.694m  y = 20.749m
x = 16.531m  y = 22.681m
x = 18.367m  y = 24.466m
x = 20.204m  y = 26.105m
x = 22.041m  y = 27.596m
x = 23.878m  y = 28.941m
x = 25.714m  y = 30.138m
x = 27.551m  y = 31.189m
x = 29.388m  y = 32.093m
x = 31.224m  y = 32.850m
x = 33.061m  y = 33.460m
x = 34.898m  y = 33.923m
x = 36.735m  y = 34.239m
x = 38.571m  y = 34.408m
x = 40.408m  y = 34.430m
x = 42.245m  y = 34.305m
x = 44.082m  y = 34.033m
x = 45.918m  y = 33.615m
x = 47.755m  y = 45.845m
x = 49.592m  y = 45.624m
x = 51.429m  y = 45.257m
x = 53.265m  y = 44.743m
x = 55.102m  y = 44.082m
x = 56.939m  y = 43.273m
x = 58.776m  y = 42.318m
x = 60.612m  y = 41.216m
x = 62.449m  y = 39.967m
x = 64.286m  y = 38.571m
x = 66.122m  y = 37.029m
x = 67.959m  y = 35.339m
x = 69.796m  y = 33.502m
x = 71.633m  y = 31.518m
x = 73.469m  y = 29.388m
x = 75.306m  y = 27.110m
x = 77.143m  y = 24.686m
x = 78.980m  y = 22.114m
x = 80.816m  y = 19.396m
x = 82.653m  y = 16.531m
x = 84.490m  y = 13.518m
x = 86.327m  y = 10.359m
x = 88.163m  y = 7.053m
x = 90.000m  y = 3.600m
la altura maxima es 45.918 m y el tiempo total es 6.122 s