# LAMBDA

In [7]:

dobles = (lambda x: x * 2)
print(dobles(5))

10

In [10]:
producto = (lambda x, y: x * y)(5,4)
producto

20

In [11]:
adulto = lambda edad: "mayor de edad" if edad > 18 else "menor de edad"
print(adulto(22))

mayor de edad

In [12]:
print(adulto(12))

menor de edad

In [ ]:
# Ordenado por índice alfabetico mediante el parámetro key  
parejas = [(1, "uno"), (2, "dos"), (3, "tres"), (4, "cuatro"), (5, "cinco")]
parejas.sort(key=lambda pareja: pareja[1])
parejas

[(5, 'cinco'), (4, 'cuatro'), (2, 'dos'), (3, 'tres'), (1, 'uno')]

## usando la función lambda junto con otras funciones especiales en este caso la función filter

In [38]:
ciudades = ["Tokyo", "Roma", "New York", "Rio", "Paris" ]

ciudades2 = list(filter(lambda ciudad: len(ciudad) > 4, ciudades))
ciudades2

['Tokyo', 'New York', 'Paris']

# MAP

In [16]:
import math 

num = [10, 9, 25, 70, 121]
cuadrados = list(map(math.sqrt, num))
red = list(map(round, cuadrados))
print(red)

[3, 3, 5, 8, 11]

In [4]:
# las siguientes listas son las temperaturas de lunes a viernes de una 
# determinada semana en ºC de las siguientes ciudades 

ny = [23, 27, 22, 21, 22]
tokyo = [25, 23, 23, 22, 26]
paris = [24, 26, 24, 21, 20]
rio = [27, 26, 28, 25, 26]

ciudades = [ny, tokyo, paris, rio]

def prom(lista):
    suma = 0
    for elem in lista:
        suma += elem
    promedio = suma/len(lista)
    return promedio
  
temperaturas = list(map(prom, ciudades))     
print(temperaturas)

[23.0, 23.8, 23.0, 26.4]

In [6]:
palabras = ["silla", "tv", "auto", "gimnasio", "estratosfera"]


numero_letras = list(map(lambda x: len(x) , palabras))
numero_letras

[5, 2, 4, 8, 12]

In [7]:
temp_en_celsius = [25, 18, 32, 33, 20, 29, 12]

temp_en_fahrenheit = list(map(lambda c: 9*c / 5 + 32, temp_en_celsius))
temp_en_fahrenheit

[77.0, 64.4, 89.6, 91.4, 68.0, 84.2, 53.6]

In [9]:
lista1 = [2, 5, 10]
lista2 = [4, 7, 20]

suma_listas = list(map(lambda a, b: a + b, lista1, lista2))
print(suma_listas)

[6, 12, 30]

# FILTER

In [1]:
lista = [3, 8, 22, 11, 14, 5, 17]

pares = list(filter(lambda x: x % 2 == 0, lista))
pares

[8, 22, 14]

## Usando la función anónima lambda

In [15]:
nombres = ["Jose", "Luis", "Ana", "Pepe", "Julio", "Roberto"]

nombres_con_j = list(filter(lambda nombre: nombre[0] == "J", nombres))
print (nombres_con_j)

['Jose', 'Julio']

## Sin usar la funcion lambda

In [27]:
nombres = ["Jose", "Luis", "Ana", "Pepe", "Julio", "Roberto"]

def nombres_con_j (nombre):
    return nombre[0] == "J"
    
    
lista_j = list(filter(nombres_con_j, nombres))    
lista_j

['Jose', 'Julio']

In [20]:
datos = {"Maria": 23, "Jose": 30, "Luis": 21, "Pepe": 17, "Ana": 15, "Juan": 20}
mayores_de_edad = list(filter(lambda nombre: datos[nombre] > 18, datos))
print(mayores_de_edad)

['Maria', 'Jose', 'Luis', 'Juan']

# REDUCE

In [41]:
import functools
nums = [2, 5, 23, 11, 14, 3]

x = functools.reduce(lambda a,b : a+b, nums)
x

58

# ACCUMULATE

In [44]:
import itertools
nums = [2, 5, 23, 11, 14, 3]

x = list(itertools.accumulate(nums, lambda a,b: a+b))
x

[2, 7, 30, 41, 55, 58]

# ZIP

In [2]:
nombres = ["Jose", "Pepe", "Maria", "Ana", "Carlos"]
edades = [23, 27, 32, 21, 25]

datos = list(zip(nombres, edades))
print(datos)

[('Jose', 23), ('Pepe', 27), ('Maria', 32), ('Ana', 21), ('Carlos', 25)]

In [3]:
paises = ["Argentina", "Francia", "Alemania", "Japón", "USA", "Peru", "Brasil", "Nigeria", "China", "España"]
continentes = ["América", "Europa", "Europa", "Asia", "América", "América", "América", "Africa", "Asia", "Europa"]
idiomas = ["español", "francés", "alemán", "japonés", "inglés", "español", "portugués", "inglés", "chino", "español"]

for info in zip(paises, continentes, idiomas):
    print(info)

('Argentina', 'América', 'español')
('Francia', 'Europa', 'francés')
('Alemania', 'Europa', 'alemán')
('Japón', 'Asia', 'japonés')
('USA', 'América', 'inglés')
('Peru', 'América', 'español')
('Brasil', 'América', 'portugués')
('Nigeria', 'Africa', 'inglés')
('China', 'Asia', 'chino')
('España', 'Europa', 'español')

Para operar elementos en dos o más listas, en este caso sumar elementos de dos listas

In [9]:
list1 = [10, 15, 20, 30]
list2 = [25, 30, 40, 50]

suma_listas = [m+n for m,n in zip(list1, list2)]
suma_listas

[35, 45, 60, 80]

In [2]:
import statistics

# Sean los valores de las temperaturas máximas de lunes a viernes dado en ºC
Rio = [23.4, 22.6, 25.5, 26.3, 24.8]
Lima = [25.3, 23.5, 22.9, 22.4, 21,8]
Santiago = [24.4, 19.5, 20.2, 22.1, 23.5]
Buenos_Aires = [22.6, 21.8, 23.5, 23.2, 20.5]

temp_m = [statistics.mean(t) for t in zip(Rio, Lima, Santiago, Buenos_Aires)]
temp_m

[23.925, 21.85, 23.025, 23.5, 22.45]

Convertir dos listas en un diccionario

In [11]:
nombres = ["José", "Raúl", "Ana", "Luis", "Rosa"]
oficio = ["pintor", "fotógrafo", "comerciante", "obrero", "dentista"]

registro = dict(zip(nombres, oficio))
print(registro)

{'José': 'pintor', 'Raúl': 'fotógrafo', 'Ana': 'comerciante', 'Luis': 'obrero', 'Rosa': 'dentista'}

Dadas dos listas uno con catetos_x y otra de catetos_y vamos a hallar los valores de sus respectivas hipotenusas

In [3]:
import math

catetos_x = [3, 5, 7] # lista de catetos 1
catetos_y = [4, 12, 24] # lista de catetos 2

# lista de las hipotenusas generadas por los catetos1 y catetos2 en zip
hipotenusas = [math.sqrt (m**2 + n**2) for m,n in zip(catetos_x, catetos_y)] 
print(hipotenusas)

[5.0, 13.0, 25.0]